<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.way.firupgrade">

    <!-- BUGHD -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="${GENERAL_KEY}" />

        <!-- 接受下载apk成功广播，更新apk使用 -->
        <receiver android:name="com.way.firupgrade.DownloadCompleteReveiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
