<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.way.captain">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 开机启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name="com.way.captain.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.way.captain.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.way.captain.activity.PermissionCheckActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.way.telecine.TelecineService"
            android:exported="false" />

        <receiver android:name="com.way.telecine.RecordingSession$DeleteRecordingBroadcastReceiver" />

        <activity
            android:name="com.way.telecine.TelecineShortcutConfigureActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Telecine.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.way.telecine.TelecineShortcutLaunchActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Telecine.Transparent" />
        <activity
            android:name="com.way.screenshot.TakeScreenshotActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Telecine.Transparent" />

        <service android:name="com.way.screenshot.TakeScreenshotService" />
        <receiver
            android:name="com.way.screenshot.DeleteScreenshot"
            android:exported="true" />
        <service
            android:name="com.way.captain.service.ChatHeadService"
            android:exported="false" />
        <activity
            android:name="com.way.captain.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/action_settings" />
        <receiver
            android:name="com.way.captain.BootReceiver"
            android:label="@string/app_name">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
